﻿@using BeerOverflow.Services.DTO
@using Microsoft.AspNetCore.Identity
@using BeerOverflow.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<CountryDTO>
@{
    ViewData["Title"] = "CountriesDB -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BeerPub's Countries DB</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="CreateCountry">Add Country</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>

                    <td>
                        <a asp-action="UpdateCountry" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="DeleteCountry" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><b> You must @Html.ActionLink("LogIn", "Login", "Account")  or @Html.ActionLink("Register", "Register", "Account")  to see the full information!</b> </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@for (int i = 1; i <= ViewBag.countriesCount; i++)
{
    if (i % 5 == 0 || i == ViewBag.countriesCount)
    {
        var pageNum = i / 5;
        if (i % 5 > 0)
        {
            pageNum++;
        }
        <a href="@Url.Action("GetAllCountries", "Country", new { pageNumber = pageNum})">
            @pageNum
        </a>
    }
}

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


