﻿@model BeerOverflow.Services.DTO.CountryDTO

@{
    ViewData["Title"] = "UpdateCountry";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Country" asp-action="UpdateCountry" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input value="@Model.Id" type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllCountries">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}