﻿@{
    ViewData["Title"] = "About Us-";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">
                        Welcome to <b>BeerOverflow</b>, a web application for managing users and the beers they drink.
                        Our mission is to allow users to get an insight on beers from all around the world and choose the next best beer to drink!
                    </p>
                    <p class="aboutus-text">BeerOverflow is a community driven web app and every beer aficionado can add, review and rate beers!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="~/images/beerabout.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon" position></span>
                            </div>
                            <div class="feature-content">
                                <h4>Beer Database</h4>
                                <p>We have the best catalog in the business when it comes to choosing the right beers to drink that
                                fit your personality! If you are a registered user, you have the permission to contribute to our DB and add, edit, and review new beers!</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Breweries and Countries</h4>
                                <p>When it comes to beers, we know everything! Our DB can give you all the information you need about a particular product.
                                If you are a registered user, you also have access to our Countries DB and Breweries DB. </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Contact us:</h4>
                                <p> <b>Atanas Velev</b>: atanasvelev@gmail.com</p>
                                <p> <b>Georgi Stoichkov</b>: georgistoichkov@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>