﻿@model HomeIndexViewModel

@{
    Layout="_Layout";
    ViewData["Title"] = "Home Page";
}

@*<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./images/carousel1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="./images/carousel2.png" alt="Second slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@

<div class="text-center">
    <h1 class="display-3">Welcome to BeerPub!</h1>
   @*// <h3 class="display-3">Learn about our Top 6 Rated Beers!</h3>*@
</div>

<div class="container">
    <div class="row">
        @if (!Model.TopRatedBeers.Any())
        {
            <p class="alert alert-info">None of our beers have been rated yet!</p>
        }
        else
        {
            @foreach (var beer in Model.TopRatedBeers)
            {
                <partial name="_BeerCardPartial" model="beer" />
            }
        }
    </div>
</div>
