﻿<h1>LogIn</h1>
<form action="Home/LogIn" method="post">
    <input type="text" name="userName" value="" />
    </ br>
    <input type="text" name="password" value="" />
    <button type="submit">LogIn</button>
</form>