﻿@using BeerOverflow.Services.DTO
@model BeerDTO
@{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/images/topbeer.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><b>Name:</b> @Model.Name</h5>
            <p class="card-text"><b>ABV:</b> @Model.ABV%</p>
            <p class="card-text"><b>Description</b>: @Model.Description</p>
            <a asp-controller="Beer" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Learn more</a>
        </div>
    </div>
}




