﻿
<head>
    <link href="~/css/Error.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">This item is hiding out in Quarantine :(  <p>Let's go <a asp-action="GetAllCountries">HOME</a> and try from there.</p></div>
    </div>
